/* 3.11- Blog Section */
.blog-item {
  width: 30%;
  background-color: var(--whiteColor);
}
.blog-item-img img {
  width: 100%;
}
.blog-item-info-container {
  padding: 20px;
}
.blog-item-list {
  list-style: none;
  margin: 10px 0;
}
.blog-item-list li {
  display: inline-block;
  margin: 0 5px;
}
.blog-item-list li i {
  color: var(--mainColor);
}
.blog-item-title {
  font-weight: bold;
  margin: 15px 0;
}
.blog-item-desc {
  color: var(--gray);
  margin-bottom: 15px;
  line-height: 1.5;
}
.blog-item-link {
  color: var(--mainColor);
}
.blog-item.mg-middle {
  margin: 0 5%;
}
