/* 3.5- Offer Section */
.offer-item {
  width: 30%;
  margin-bottom: 50px;
  border: 1px solid var(--bg-e8gray);
  padding: 30px 15px 30px 70px;
  position: relative;
}
.offer-item.mg-middle {
  margin: 0 5%;
}
.offer-item .icon {
  position: absolute;
  top: 35px;
  left: 20px;
  color: var(--mainColor);
}
.offer-item-title {
  transition: color 0.5s;
}
.offer-item-desc {
  line-height: 1.6;
  color: #888;
}
.offer-item:hover .offer-item-title {
  color: var(--whiteColor);
}
